@inject LinksClient Links

<article>
    <h3>@Item.Url</h3>
    <p><NavLink href=@($"/links/{Item.Id}")>Afficher le lien</NavLink> </p>
    <AuthorizeView>
        <Authorized>
            <p>
                <button @onclick="UpVote">👍 @Item.UpVotesCount</button> / <button @onclick="DownVote">👎 @Item.DownVotesCount</button>
            </p>
        </Authorized>
        <NotAuthorized>
            <p>
                👍 @Item.UpVotesCount / 👎 @Item.DownVotesCount
            </p>
        </NotAuthorized>
    </AuthorizeView>
</article>

@code {
    [Parameter]
    public LinkDto Item { get; set; }

    private async Task UpVote() 
    {
        await Links.UpVoteAsync(Item.Id);
        Item.UpVotesCount++;
    }

    private async Task DownVote() 
    {
        await Links.DownVoteAsync(Item.Id);
        Item.DownVotesCount++;
    }
}
