@model MyHN.Application.CommentLinkCommand

<form asp-controller="Links" asp-action="Comment" asp-route-id="@Model.LinkId" method="post">
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="@Model.LinkId" />

    <div>
        <label asp-for="@Model.Content"></label>
        <textarea class="form-control" asp-for="@Model.Content"></textarea>
        <span asp-validation-for="@Model.Content"></span>
    </div>

    <input type="submit" name="submit" value="Envoyer le commentaire" class="btn btn-outline-dark" />
</form>