@model MyHN.Application.LinkDto

    <article>
        <h2>@Model.Url</h2>
        <p>
            <a asp-controller="Links" asp-action="Show" asp-route-id="@Model.Id">
                Afficher le lien
            </a>
             - <a asp-controller="Links" asp-action="Comment" asp-route-id="@Model.Id">
                    Commenter le lien
               </a> 
             - Publié le @Model.CreatedAt.ToLongDateString()
             - 👍 @Model.UpVotesCount / 👎 @Model.DownVotesCount
        </p>
        <form asp-controller="Links" asp-action="Vote" asp-route-id="@Model.Id" method="post">
            <input type="hidden" name="redirectTo" value="@Context.Request.Path" />
            <input type="submit" name="direction" value="up" class="btn btn-outline-primary" />
            <input type="submit" name="direction" value="down" class="btn btn-outline-danger" />
        </form>
    </article>
